body {
	/*background-color: #152935;*/
	background-color: #1f3a49;
	padding-top: 50px;
	color: white;
}

h2 {
	color: #eec218;
}

.navbar {
	background: #1f3a49;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	font-size: 9pt;
	z-index: 150;
	min-width: 100%;
	border-bottom: 1px solid #5aaafa;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
}

.navbar .nb-left-area {
	float: left;
	height: 50px;
	color: #ffffff;
}

.navbar .nb-button-link {
	position: relative;
	text-decoration: none;
	color: #94a3ab;
	margin: 0 10px 0 10px;
	height: 50px;
}

.navbar .nb-left-area .nb-bluemix-logo {
  vertical-align: top;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.navbar .nb-left-area .nb-devopsservices-text {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
}

.main-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.container-fluid {
	padding: 0 0 0 0;
	margin: 15px;
}

.query {
	border-bottom: 1px solid #eec218;
	padding: 0;
	margin: 15px;
}

.main-results {
	padding: 0;
}

.col-xs-6 {
	padding: 0;
	padding-right: 30px;
}

.twitter-buttons {
	padding: 25px 0;
	text-align: right;
}

.btn {
	border: 1px solid #eec218 !important;
}

.btn-full {
	border-radius: 0;
	background-color: #eec218;
	color: #1f3a49;
	padding: 6px 20px;
	font-size: 18px;
}

.btn-twitter {
	margin-left: 20px;
}

.datepicker {
	color: black;
}

.rules-group-container {
	background: #1f3a49 !important;
	border: none !important;
}

.rules-group-header > .btn-group > .btn {
	border-radius: 0;
	background-color: #1f3a49;
	color: #eec218;
	padding: 6px 20px;
	font-size: 18px;
}

.rules-group-header > .btn-group > .btn.active {
	border-radius: 0;
	background-color: #eec218;
	color: #1f3a49;
	padding: 6px 20px;
	font-size: 18px;
}

.rule-container {
	background-color: #1f3a49 !important;
	border-radius: 0 !important;
	border: 1px solid #eec128 !important;
	padding: 0 !important;
	margin: 6px 0 !important;
}

.rule-value-container {
	border-left: none !important;
}

.btn-xs.btn-info, .btn-xs.btn-danger {
	background-color: #eec128 !important;
	color: #1f3a49 !important;
	border-radius: 0 !important;
}

.query-builder .rules-list>::before, .query-builder .rules-list>::after {
	border-color: #eec128 !important;
}

.form-control {
	border-radius: 0 !important;
}

.nav-pills > li > a {
    border-radius: 0;
    background-color: #1f3a49;
    color: #eec128;
}

.nav-pills > li.active > a {
    background-color: #eec128;
    color: #1f3a49;
}

.nav-pills > li.active > a:focus {
    background-color: #eec128;
    color: #1f3a49;
}

.nav-pills > li > a:hover, .nav-pills > li.active > a:hover {
	background-color: white;
	color: #eec128;
}

.text-box {
	height: 34px !important;
	margin-bottom: 20px;
}

.well {
	background-color: #1f3a49;
	width: 80%;
}

#vizcontainer {
	border: none;
}

.model_title  {
	/*font-weight: 300;*/
	font-size: 16px;
}

.traits {
	color: #eec128;
}

.model_trait {
	color: white;
}

.results h2 {
	color: white;
}

svg {
	fill: white;
}

.btn-info {
	height: 0 !important;
	width: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
}

.btn-danger {
	height: 34px !important;
}

.row:nth-child(even) {
	background: #294151;
}

.row {
	padding: 2px 0;
}

@media only screen and (max-width: 992px) {
    .col-xs-6 {
		width: 100%;
	}
}
